.fat{
    border-left: 3px solid red;
}
.heavy{
    border-left: 3px solid rgb(243, 75, 9);
}
.good{
    border-left: 3px solid rgb(19, 212, 52);
}
.light{
    border-left: 3px solid rgb(19, 205, 212);
}
.fa-trash-alt{
    color: aquamarine;
}